<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">ペルソナ情報編集</h1>
</div>
<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ペルソナ名</th>
              <th>アルカナ</th>
              <th>初期レベル</th>
              <th>種別</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @personas.each do |persona| %>
            <tr>
              <%= form_with url: "/edit_all/#{persona.id}", method: 'PATCH', local: true do |f| %>
              <td class="name-td"><%= f.text_field "name_#{persona.id}", {value: persona.name, class: form_box_class} %></td>
              <td class="arcana-td"><%= f.select "arcana_#{persona.id}", @arcana_options, {selected: persona.arcana_number}, {class: form_box_class} %></td>
              <td class="level-td"><%= f.text_field "initial_level_#{persona.id}", {value: persona.initial_level, class: form_box_class} %></td>
              <td class="category-td"><%= f.select "category_#{persona.id}", @category_options, {selected: persona.category_id}, {class: form_box_class} %></td>
              <td class="submit-td"><%= f.submit '変更', class: 'submit-button', disabled: true %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $('.<%= form_box_class %>').change(function(){
    $(this).parent()
           .siblings('.submit-td')
           .children('.submit-button')
           .prop('disabled', false);
  })
</script>
