<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">ペルソナ合体結果シミュレーター</h1>
</div>
<div class="col-xl-12 col-lg-7" >
  <!-- Approach -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 id="exp-card-header">
          <i id="card-icon-close" class="fas fa-angle-right fa-lg"></i>
          <i id="card-icon-open" class="fas fa-angle-down fa-lg"></i>
          <a href="#" class="m-0 font-weight-bold text-primary">ペルソナ合体結果シミュレーターとは？</a>
        </h6>
      </div>
      <div id="exp-card-body" class="card-body">
        <p>「P5R」における「2身ギロチン」合体（融合）において、選択された2体のペルソナの合体結果を出力する機能です。</p>
        <p>「P5R」における合体法則は以下のとおりです。</p>
        <ol>
          <li>合体元ペルソナのアルカナによる組み合わせで誕生するペルソナのアルカナが決まる（以下の表参照）</li>
          <li>「（1体目元ペルソナ初期レベル + 2体目元ペルソナ初期レベル）÷ 2 + 1」で仮レベルが算出される</li>
          <li>決定したアルカナと仮レベル以上を満たすペルソナのうち、最も初期レベルの低いペルソナが誕生する</li>
        </ol>
        <div class="text-center">
          <%= image_tag '/p5r2gt.png', class: "img-fluid px-3 px-sm-4 mt-3 mb-4" %>
        </div>
      </div>
  </div>
</div>
<div id="select-form-card" class="col-xl-12 col-lg-7">
  <!-- Approach -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">選択フォーム</h6>
      </div>
      <div class="card-body">
        <%= form_with url: simulator_index_path, id: 'select_form', local: true, method: 'GET' do |f| %>
        <div>
          <p class="mb-4">ペルソナ名1
          <%= f.select :first_persona, persona_normals_for_select, include_blank: '選択してください', selected: @search_params[:first_persona] %>
          </p>
        </div>
        <div>
          <p class="mb-4">ペルソナ名2
          <%= f.select :second_persona, persona_normals_for_select, include_blank: '選択してください', selected: @search_params[:second_persona] %>
          </p>
        </div>
        <div>
          <%= f.submit '合体', id: 'submit' %>
        </div>
        <% end %>
      </div>
  </div>
</div>
<% if @res_persona %>
<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">合体結果</h6>
    </div>
    <div class="card-body">
      <div>
        <%= @res_persona.name %>
      </div>
      <div>
        <%= image_tag "#{@res_persona.img_path}" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  function fold(event){
    const card_style = document.getElementById("exp-card-body").style;
    const card_icon_close = document.getElementById("card-icon-close").style;
    const card_icon_open = document.getElementById("card-icon-open").style;
    if(card_style.display === 'none') {
      card_style.display = 'block';
      card_style.visibility = 'visible';
      card_icon_close.display = 'none';
      card_icon_close.visibility = 'hidden';
      card_icon_open.display = 'inline';
      card_icon_open.visibility = 'visible';
    }else{
      card_style.display = 'none';
      card_style.visibility = 'hidden';
      card_icon_close.display = 'inline';
      card_icon_close.visibility = 'visible';
      card_icon_open.display = 'none';
      card_icon_open.visibility = 'hidden';
    }
  }

  fold();
  const exp_card = document.getElementById('exp-card-header');
  exp_card.addEventListener('click', fold);

  function validPersonaIds(first_persona_id, second_persona_id){
    if(!first_persona_id || !second_persona_id){
      alert('ペルソナを選択してください')
      return false;
    }else if(first_persona_id == second_persona_id){
      alert('同じペルソナは選べません')
      return false;
    }else{
      return true;
    }
  }

  function startAjax(first_persona_id, second_persona_id){
    $.ajax({
      url: '<%= simulator_index_path %>',
      type: 'GET',
      data: {
        first_persona: first_persona_id,
        second_persona: second_persona_id
      },
      datatype: 'json'
    })
    .done(function(res){
      viewFusionResult(res);
    })
    .fail(function(){
      alert('error');
    })
  }

  function viewFusionResult(res){
    console.log(res);
    $('#result-card').remove();
    if(!res){
      $('#select-form-card').after(`
      <div id="result-card" class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">合体結果</h6>
          </div>
          <div class="card-body">
            <div>
              <h4 style="color: red;"><span id="result">合体不可</span></h4>
            </div>
          </div>
        </div>
      </div>
      `)
    }else{
      $('#select-form-card').after(`
      <div id="result-card" class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">合体結果</h6>
          </div>
          <div class="card-body">
            <div>
              <h4><a id="result" href="/personas/${res['id']}" target="_blank" rel="noopener noreferrer">${res['name']}</a></h4>
            </div>
            <div>
              <img src="https://rails-persona5.s3-ap-northeast-1.amazonaws.com${res['img_path']}">
            </div>
          </div>
        </div>
      </div>
      `)
    }
  }

  $('#submit').click(function(event){
    event.preventDefault();
    const first_persona_id = $('#first_persona').val();
    const second_persona_id = $('#second_persona').val();
    if(validPersonaIds(first_persona_id, second_persona_id)){
      startAjax(first_persona_id, second_persona_id);
    }
  })
</script>
