<h1>ペルソナ一覧</h1>
<%= form_with url: '/', local: true, method: 'GET' do |f| %>
  <div>
    <p>ペルソナ名</p>
    <%= f.text_field :name, value: @search_params[:name]%>
  </div>
  <div>
    <p>アルカナ</p>
    <%= f.select :arcana, Arcana.all.pluck(:name, :number), include_blank: '選択してください', selected: @search_params[:arcana]%>
  </div>
  <div>
    <p>種別</p>
    <%= f.select :category, Category.all.pluck(:name, :id), include_blank: '選択してください', selected: @search_params[:category] %>
  </div>
  <div>
    <p>ソート</p>
    <%= f.radio_button :sort, :arcana, checked: @search_params[:sort] == 'arcana'%>
    <%= f.label :sort_arcana, 'アルカナ'%>
    <%= f.radio_button :sort, :level, checked: @search_params[:sort] == 'level'%>
    <%= f.label :sort_level, '初期レベル'%>
  </div>
  <div>
    <%= f.submit '検索' %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>ペルソナ名</th>
      <th>アルカナ</th>
      <th>初期レベル</th>
      <th>種別</th>
    </tr>
  </thead>
  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td>
          <div>
            <%= link_to "#{persona.name}", "/personas/#{persona.persona_id}", id: persona.id %>
          </div>
          <div>
            <%= image_tag "#{persona.img_path}", size: '200x100' %>
          </div>
        </td>
        <td><%= persona.arcana_name %></td>
        <td><%= persona.initial_level %></td>
        <td><%= persona.category_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
