<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">ペルソナ一覧</h1>
</div>
<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">絞り込みフォーム</h6>
    </div>
    <div class="card-body">
      <%= form_with url: personas_path, method: 'GET', local: true do |f| %>
        <div>
          <p class="mb-4">ペルソナ名
          <%= f.text_field :name, value: @search_params[:name]%>
          </p>
        </div>
        <div>
          <p class="mb-4">アルカナ
          <%= f.select :arcana, arcana_for_select, include_blank: '選択してください', selected: @search_params[:arcana]%>
          </p>
        </div>
        <div>
          <p class="mb-4">種別
          <%= f.select :category, category_for_select, include_blank: '選択してください', selected: @search_params[:category] %>
          </p>
        </div>
        <div>
          <p class="mb-4">ソート</p>
          <%= f.radio_button :sort, :arcana, checked: @search_params[:sort] == 'arcana'%>
          <%= f.label :sort_arcana, 'アルカナ'%>
          <%= f.radio_button :sort, :level, checked: @search_params[:sort] == 'level'%>
          <%= f.label :sort_level, '初期レベル'%>
        </div>
        <div>
          <%= f.submit '検索', id: 'submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ペルソナ名</th>
              <th>アルカナ</th>
              <th>初期レベル</th>
              <th>種別</th>
            </tr>
          </thead>
          <tbody id="result">
            <%= render @personas %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function viewResult(res){
    $('#result').children().remove();
    $.each(res, function(index, value){
      $('#result').append(`
        <tr>
          <td>
            <div>
              <a class="persona-name" target="_blank" rel="noopener noreferrer" href="/personas/${value['persona_id']}">${value['name']}</a>
            </div>
            <div>
              <img src="https://rails-persona5.s3-ap-northeast-1.amazonaws.com${value['img_path']}" width="200" height="100">
            </div>
          </td>
          <td>${value['arcana_name']}</td>
          <td>${value['initial_level']}</td>
          <td>${value['category_name']}</td>
        </tr>
      `);
    })
  }
  $('#submit').on('click', function(event){
    event.preventDefault();
    $.ajax({
      url: '<%= personas_path %>',
      type: 'GET',
      data: {
        name: $('#name').val(),
        arcana: $('#arcana').val(),
        category: $('#category').val(),
        sort: $('input[name=sort]:checked').val()
      },
      dataType: 'json'
    })
    .done(function(res){
      viewResult(res);
    })
    .fail(function(){
      alert('error');
    })
  })
</script>
