<!DOCTYPE html>
<html>
  <head>
    <title>Persona5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <% if current_page?(login_path) %>
    <%= yield %>
  <% else %>
  <body id="page-top">
    <div id="wrapper">
      <!-- sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <%= link_to root_path, class:   "sidebar-brand d-flex align-items-center justify-content-center" do %>
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-heartbeat fa-2x"></i>
        </div>
        <div class="sidebar-brand-text mx-3">P5R アプリ</div>
        <% end %>
        <li class="nav-item">
          <%= link_to personas_path, class: 'nav-link' do %>
            <i class="fas fa-fw fa-table"></i><span>ペルソナ一覧</span>
          <% end %>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
          <%= link_to simulator_index_path, class: 'nav-link' do %>
            <i class="fas fa-fw fa-table"></i><span>合体結果シミュレーター</span>
          <% end %>
        </li>

        <% if logged_in? %>
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
          <%= link_to edit_personas_path, class: 'nav-link' do %>
            <i class="fas fa-fw fa-table"></i><span>ペルソナ情報編集</span>
          <% end %>
        </li>
        <% end %>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <% flash.each do |message_type, message| %>
                <p id="flash-message" style="color: red;"><%= message %></p>
            <% end %>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <% if logged_in? %>
                  <%= link_to logout_path, id: "logout-button",  class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm", method: :delete do %>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                    ログアウト
                  <% end %>
                <% else %>
                  <%= link_to login_path, id: "login-button", class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
                    <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
                    管理者ログイン
                  <% end %>
                <% end %>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <%= yield %>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
      </div>
    </div>
  </body>
  <% end %>
</html>

<script>
  $('#logout-button').click(function(){
    if(!confirm('ログアウトしますか？')){
      return false;
    }
  })
</script>
